*:root{
    --black: #281D21;
    --red: #CD2F2F;
    --white: #ECE8E1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding-top: 83px;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 12px 66px 8px 104px;
    background-color: var(--black);
}

.nav-logo{
    margin-right: 50px;
}

.nav-menu a , .nav-sign a{
    text-decoration: none;
    font-family: "Bebas Neue";
    color: white;
    font-size: 24px;
    
}

.nav-menu a:not(.nav-selected) , .nav-sign{
    margin-bottom: 5px;
}

.nav-logo img{
    width: 115px;
    height: 60px;
}

.nav-left{
    display: flex;
}

.nav-menu, .nav-sign{
    display: flex;
    align-items: center;
}

.nav-menu >*:not(:first-child){
    margin-left: 40px;
}

.nav-selected{
    border: solid;
    border-width: 0px 0px 5px;
    padding: 4px 0px;
}

.nav-menu a:hover , .nav-sign a:hover{
    color: var(--red);
}

/* Banner */

#banner{
    background-image: url(./assets/Legends-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 440px;
    display: flex;
    justify-content: center;
    
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-container h1{
    color: var(--white);
    font-family: "Bebas Neue";
    font-size: 100px;
    font-weight: normal;
}

.banner-container p{
    color: var(--white);
    font-family: "Exo";
    font-size: 24px;
}


/* Legends */

#legends{
    background-color: var(--white);
}

.legends-container{
    display: flex;
    align-items: center;
    padding: 0px 104px;
    
}

.legends-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.legends-card>:not(:first-child){
    margin-left: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 315px;
}

.card-img{
    display: flex;
    align-items: flex-end;
}

.legends-img{
    width: 315px;
    height: 373px;
    margin: 15px;
}

.legends-line{
    position: absolute;
}

.card-img p{
    position: absolute;
    font-family: "Bebas Neue";
    font-size: 30px;
    color: var(--black);
    text-align: center;
    margin: 0px 0px 10px 25px;
}

.card-content p{
    font-family: "Exo";
    font-size: 16px;
    color: var(--black);
    margin: 0px 50px 0px 20px;
}

/* Footer */

#footer{
    background-color: var(--black);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 104px;
    align-items: center;
}

.footer-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    justify-content: center;
    margin-top: 60px;
}

.footer-mid h1{
    font-family: "Exo";
    font-size: 20px;
    color: var(--white);
    margin-bottom: 20px
}

.medsos a{
    width: 50px;
    height: 50px;
}

.medsos>:not(:first-child){
    margin-left: 18px;
}

.footer-mid p{
    font-family: "Exo";
    font-size: 16px;
    color: var(--white);
    margin-top: 90px;
}

.footer-right{
    display: flex;
    flex-direction: column;
}

.footer-right a{
    text-decoration: none;
    font-size: 24px;
    font-family: "Bebas Neue";
    color: var(--white);
    text-align: end;
    margin-bottom: 15px
}

.footer-right a:hover{
    color: var(--red);
}

/* Tablet */

@media screen and (max-width: 768px) {
    
    .nav-container{
        padding: 12px 40px 8px 40px;
    }

    .nav-logo{
        margin-right: 30px;
    }

    .nav-menu >*:not(:first-child){
        margin-left: 30px;
    }


    /* Legends */

    .legends-container{
        display: flex;
        align-items: center;
        padding: 0px 10px;
        
    }

    .legends-card{
        display: flex;

        justify-content: space-evenly;
    }

    /* Footer */

    .footer-right{
        display: none;
    }
    
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0px 30px 0px;
    }
    
    .footer-mid{
        margin: 40px 0px 0px 0px;
        
    }
    
    .medsos a{
        width: 50px;
        height: 50px;
    }
    
    
    .footer-mid p{
        margin-top: 40px;
    }
    
}

/* Mobile */

@media screen and (max-width: 425px){

    .nav-container{
        padding: 12px 12px 8px 12px;
    }

    .nav-logo{
        margin-right: 15px;
        
    }

    .nav-logo img{
        width: 100px;
    }

    .nav-menu a , .nav-sign a{
        font-size: 20px;
        
    }

    .nav-menu >*:not(:first-child){
        margin-left: 15px;
    }

    /* Banner */

    #banner{
        background-size: cover;
        height: 350px;
    }
    
    .banner-container h1{
        font-size: 60px;
    }
    
    .banner-container p{
        font-size: 16px;
    }

    /* Footer */

    .footer-mid p{
        margin-top: 40px;
        font-size: 14px;
    }

}